<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Vue</title>
	<style>
		body {
			margin:  5%;
			font-family: 'Quicksand', sans-seri;f
		}

		.active {
			background: red;
			border: 0;
			padding: 5px;
		}
	</style>
</head>
<body>
<div id="app">
<header-component name="Fauzan Alghifari" image="img/vue.png"></header-component>
	<nav>
		<router-link to="/">Home</router-link>
    	<router-link to="/post">Post</router-link>
    	<router-link to="/about">About</router-link>
    	<router-link to="/kelas">Kelas</router-link>
	</nav>

	<main>
		<!-- <kelas v-bind:items="kelas" v-bind:input="kelasbaru" v-on:hapuskelas="hapuskelas"></kelas> -->
		<!-- <home></home> -->
		<router-view v-bind:items="kelas"  v-on:submitkelas="submitkelas" v-on:hapuskelas="hapuskelas"  ></router-view>
	</main>
<footer-component></footer-component>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script>
	const Home = {
		template: '<div>Home</div>'
	}

	const Post = {
		template: '<div>Post</div>'
	}

	const About = {
		template: '<div>About</div>'
	}

	const Kelas = {
		props: ['items', 'input'],
		template: `
		<div>
			<h3>Tambah data</h3>
				<p><input type="text" name="#" placeholder="Masukkan data" v-on:keyup.enter="$emit('submitkelas', $event)" v-model="input"></p>
			<hr>
			<alert-box>
  					Something bad happened.
			</alert-box>
			<h3>Daftar Kelas ({{ items.length }})</h3>
				<template v-if="items.length">
					<li v-for="(item, index) of items">{{ index+1 }} - {{ item }}
					<a href="" v-on:click.prevent="$emit('hapuskelas')">Hapus</a>
					</li>
				</ul>
				</template>
				<li v-else>Data tidak tersedia </li>
		</div>
		`, 
		data: function(){
			return {

			}
		},
		methods: { 
			
			}
	}

	Vue.component('header-component',{
		props: ['name', 'image'],
		template: `
			<header>
				<img :src="image" width="300">
				<p>{{ 'Hello, ' +name}}</p>
			</header>
		`,
		data: function(){
			return {
			
			}
		},
		methods: {}
	})

	Vue.component('footer-component',{
		template: `
			<footer id="footer">
				<p>Copyright 2021</p>
			</footer>	
		`
	})

	

	Vue.component('alert-box', {
		template:  `<div class="demo-alert-box">
      				<slot></slot>
    				</div>`
	})



	Vue.component('kelas',{
		
		})

	const routes = [
  		{ path: '/', component: Home },
  		{ path: '/post', component: Post },
  		{ path: '/about', component: About },
  		{ path: '/kelas', component: Kelas }
	]
	
	const router = new VueRouter({
		mode: 'history',
  		routes // short for `routes: routes`
	})

	const vm = new Vue({
		el: '#app',
		router,
		components: {
			'home' : Home
		},
		data: {
				kelas: ['PHP', 'HTML', 'MYSQL'],
				kelasbaru: ""	
		},
		methods: {
			hapuskelas: function(index){
				this.kelas.splice(index, 1)
				},
			submitkelas: function(event){
				const text = event.target.value
				this.kelas.unshift(text)
			},
			},
		computed: {
		}
	})
</script>
</body>
</html>